@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0b0a08;
    --card: #ffffff;
    --card-foreground: #0b0a08;
    --popover: #ffffff;
    --popover-foreground: #0b0a08;
    --primary: #facc15;
    --primary-foreground: #2b1a05;
    --secondary: #78bfa4;
    --secondary-foreground: #1a1613;
    --muted: #f6f5f2;
    --muted-foreground: #726c64;
    --accent: #f6f5f2;
    --accent-foreground: #1a1613;
    --destructive: #ef4444;
    --destructive-foreground: #fdfdf9;
    --border: #e7e5e4;
    --input: 20 5.9% 90%;
    --ring: #facc15;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wave-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
}

.wave-shape .shape-fill {
  fill: #fef9c3;
}
